
*{
    margin:0 ;
    padding: 0;
    box-sizing: border-box;
}

/*CSS GENERAL*/


header{
    background-color: #A67458;
}

body{
    background-color: #A5A692;
}

.navbar-brand{
    text-transform: uppercase;
    color: black;
    text-shadow: 2px 2px 2px white;
    font-size: 2rem;
    font-weight: bold;
    font-family: 'Archivo Black';
}

.nav-link{
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    font-family: 'Alegreya Sans', sans-serif;
    letter-spacing: 0.01rem;
    
    
}

.container-fluid-1{
    padding: 1rem;
    font-family: 'Alegreya Sans';
    font-size: 1.2rem;
    color: whitesmoke;
    justify-content: center;
    align-content: center;
}

.titulo-formulario{
    font-size: 3rem;
    font-family: 'Alegreya Sans';
    font-weight: bold;
    color: #8d4d28;
}

form{
    font-family: 'Alegreya Sans';
    font-size: 1rem;
    color: black;
} 

.transformaciones img{
    height:auto;
    width: auto;
    max-height: 400px;
    min-height: 400px;
    max-width: auto;
    justify-content: center;
    margin-bottom: 2rem;
}

.galeria img{
    width: 100%;
    height: 500px;
    padding: 2rem;
}
.galeria video{
    width: 100%;
    height: 500px;
    padding: 2rem;
}





/*RESPONSIVE 320PX*/
@media screen and (min-width:320px){
    .body div{
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 15% 30% 45% 10%;
        grid-template-areas:"header header"
                            "frase frase"
                            "aboutRecheFitness aboutRecheFitness"
                            "footer footer";
    }
    
    header{
        grid-area: header;
    }
    
    header div{
        grid-area: frase;
    }
    
    main .aboutRecheFitness{
        grid-area: aboutRecheFitness;
        padding: 2rem 2rem;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 50% 50%;
        grid-template-areas:"parrafo imagenEquipo"
                            "parrafo imagenEquipo";
        gap: 2rem;
    }
    main .aboutRecheFitness p{
        grid-area: parrafo;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    main .aboutRecheFitness img{
        grid-area: imagenEquipo;
        display: flex;
        align-items:stretch;
        margin: auto;
    }
    
    /*CSS PARA INDEX*/
    .contenedor-frase{
        background-image: url(../assets/img/imagen-principal.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size:cover;
        padding: 5rem;
        margin: 0;
        border: 0;
        
    }
    .frasePrincipal{
        font-size: 2rem;
        text-transform: uppercase;
        line-height: 2rem;
        text-align:center;
        justify-content: center;
        color: black;
    }
    
    main .aboutRecheFitness{
        display: flex;
        flex-direction: column;
    }
    main .aboutRecheFitness p{
        text-align: justify;
    }
    main .aboutRecheFitness img{
        width: 90%;
        height: auto;
    }
    

    /*CSS PARA FOTOS DE TRANSFORMACIONES*/
    
    .flor{
        font-size: 1rem;
        padding: 0.5rem;
    }
    
    .sobre-flor{
        text-align: justify;
        padding: 0.5rem;
    }
    
    /*CSS PARA GALERIA*/
    .titulo-pagina{
        text-align: center;
        background-image: url(../assets/img/imagen-entrenamiento.jpg);
        background-size: contain;
        background-position: center;
        background-repeat: repeat-x;
        padding: 3rem;
    }
    

}


/*RESPONSIVE 768PX*/

@media screen and (min-width:768px) {
    .contenedor-frase{
        background-image: url(../assets/img/imagen-principal.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        padding: 6rem;
        
    }
    .frasePrincipal{
        font-size: 2rem;
        line-height: 5rem;
        text-align: center;
        color: black;
    }
    main .aboutRecheFitness{
        display: flex;
        flex-direction: column;
    }
    main .aboutRecheFitness p{
        text-align: justify;
        font-size: 1.5rem;
    }
    main .aboutRecheFitness img{
        width: 70%;
        height: auto;
    }

    .titulo-pagina{
        text-align: center;
        font-size: 3rem;
        background-image: url(../assets/img/imagen-entrenamiento.jpg);
        background-size: contain;
        background-position: center;
        background-repeat: repeat-x;
        padding: 5rem;
    }

    .flor{
        font-size: 2rem;
        padding: 1rem;
    }
    .sobre-flor{
        text-align: justify;
        padding: 1rem;
    }

}

/*RESPONSIVE 1200PX*/

@media screen and (min-width:1200px) {
    .contenedor-frase{
        background-image: url(../assets/img/imagen-principal.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        padding: 10rem;
    }
    .frasePrincipal{
        font-size: 3rem;
        line-height: 5rem;
        text-align: center;
        color: black;
    }
    main .aboutRecheFitness{
        display: grid;
    }
    main .aboutRecheFitness p{
        align-items: center;
        font-size: 1.5rem;
    }
    main .aboutRecheFitness img{
        width: 100%;
        padding: 0 2rem;
    }
    
    .titulo-pagina{
        text-align: center;
        font-size: 4rem;
        background-image: url(../assets/img/imagen-entrenamiento.jpg);
        background-size: contain;
        background-position: center;
        background-repeat: repeat-x;
        padding: 8rem;
    }

    .flor{
        font-size: 3rem;
        padding: 1rem 1rem;
    }
    .sobre-flor{
        text-align: justify;
        padding: 0rem 1rem;
    }
    
    
    }
    

/*ANIMACIONES Y TRANSICIONES*/
.frasePrincipal{
    animation: cambio 4s ease-in-out infinite;
}

@keyframes cambio{
    0%{
        color: black;
    }
    30%{
        color: #A67458;
    }
    60%{
        color: whitesmoke;
    }
    90%{
        color: black;
    }

}

.nav-link:hover{
    transform: translateY(15px);
    color: #5C7373;
}

.galeria img:hover{
    border: 5px solid #A5A692;
}
.galeria video:hover{
    border: 5px solid #A5A692;
}












































