.card{
    border-radius: 2%;
    border: map-get($map:$palette , $key:'secondary' );
}

.tarjeta-1{
    @extend .card;
    background-color: map-get($map:$palette , $key:'secondary' );
}
.tarjeta-2{
    @extend .card;
    background-color: map-get($map:$palette , $key:'secondary');
}
.tarjeta-3{
    @extend .card;
    background-color: map-get($map:$palette , $key:'secondary');
}

.card-text{
    color: black;
    font-size: 1.1rem;
    text-align: justify;
}



