.card{
    border-radius: 2%;
    border: black solid;
}

.tarjeta-1{
    @extend .card;
    background-color: map-get($map:$palette , $key:'rosa' );
}
.tarjeta-2{
    @extend .card;
    background-color: map-get($map:$palette , $key:'rosa');
}
.tarjeta-3{
    @extend .card;
    background-color: map-get($map:$palette , $key:'rosa');
}

.card-text{
    font-family: 'Open Sans', sans-serif;
    color: black;
    font-size: 1.1rem;
    text-align: justify;
}

