.navbar{
    background-color: map-get($map: $palette, $key:'primary' );
}

.navbar-brand{
    text-transform: uppercase;
    color: white;
    text-shadow: 2px 2px 2px black;
    font-size: 1.5rem;
    font-weight: bold;
}

.nav-link{
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    font-weight: bold;
    letter-spacing: 0.03rem;
    font-size: 0.9rem;
}

