.contenedor-titulo-pagina{
    text-align: center;
    background-image: url(../assets/img/background.jpg);
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 10rem;
        .titulo-pagina{
            font-size: 2rem;
            text-transform: uppercase;
            line-height: 2rem;
            text-align:center;
            justify-content: center;
            color: map-get($map:$palette , $key:'secondary' );
        }
}