.titulo-formulario{
    font-size: 3rem;
    font-family: 'Alegreya Sans';
    font-weight: bold;
    color: map-get($map:$palette , $key:'rosa');
}

form{
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    color: black;
} 