@media screen and (min-width:1200px) {
    .contenedor-frase{
        background-image: url(../assets/img/imagen-principal.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        padding: 10rem;
        .frasePrincipal{
            font-size: 3rem;
            font-family: 'Yanone Kaffeesatz', sans-serif;
            font-weight: bolder;
            line-height: 5rem;
            text-align: center;
            color: black;
        }
    }
    .card{
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    .items-principales{
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 50% 50%;
        grid-template-areas:"item-1 item-2" 
                            "item-3 item-4";
            .item-1{
                grid-area: item-1;
                justify-self: center;
            }
            .item-2{
                grid-area: item-2;
                justify-self: center;
            }
            .item-3{
                grid-area: item-3;
                justify-self: center;
            }
            .item-4{
                grid-area: item-4;
                justify-self: center;
            }
    }
    .circulo{
        @include circulo (25rem, 25rem, 50%);
        
        h3{
            font-size: 2rem;
        }
    }
}

.titulo-pagina{
    justify-content: center;
    text-align: center;
}

