@media screen and (min-width:320px){
    .contenedor-frase{
        background-image: url(../assets/img/imagen-principal.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        padding: 5rem;
        .frasePrincipal{
            font-size: 2rem;
            text-transform: uppercase;
            font-weight: bolder;
            line-height: 2rem;
            text-align:center;
            justify-content: center;
        }
    }
    
    .card{
        margin-top: 1rem;
        margin-bottom: 1rem;
            img {
                padding-top: 1rem;
                padding-bottom: 1rem;
            }
    }

    .card-text{
        font-size: 0.9rem;
    }

    form{
        font-size: 0.9rem;
    } 
    
    .circulo{
        @include circulo (15rem, 15rem, 50%);
        
        h3{
            font-size: 1rem;
        }
    }
    }

    .contenedor-titulo-pagina{
        padding: 6rem;
    }

    .titulo-pagina{
        justify-content: center;
        font-size: 1rem;
        overflow-x: hidden;
        text-align: center;
    }

    .body{
        overflow-x: hidden;
    }