.frasePrincipal{
    animation: cambio 7s ease-in-out infinite;
}

@keyframes cambio{
    0%{
        color: black;
        text-shadow: 2px 2px 2px map-get($map: $palette, $key:'secondary' );
    }
    25%{
        color: transparent;
        text-shadow: none;
    }
    50%{
        color: black;
        text-shadow: 2px 2px 2px map-get($map: $palette, $key:'secondary' );
    }
    75%{
        color: transparent;
        text-shadow: none;
    }
    99%{
        color: black;
        text-shadow: 2px 2px 2px map-get($map: $palette, $key:'secondary' );
    }

}

.nav-link:hover{
    transform: translateY(10px);
    color: map-get($map: $palette, $key:'rosa' );
    font-weight: bolder;
}

.galeria img:hover{
    border: 15px solid map-get($map:$palette , $key:'secondary');
}
.galeria video:hover{
    border: 15px solid map-get($map:$palette , $key:'secondary' );
}

.circulo:hover{
    background-color: map-get($map:$palette , $key:'primary');
}

footer svg:hover{
    color: map-get($map: $palette, $key:'rosa' );
}